body {
  background-color: #4894db;
}

@font-face{
    font-family: Helvetica;
}

h1 {
  font-family: Imago;
  color: white;
  text-align: center;
  font-size: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

p {
  font-family: Imago;
  font-size: 30px;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.topnav {
  background-color: #4894db;
  overflow: hidden;
  float: center;
  color: white;
  font-family: Avenir;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
}

.topnav a:hover {
  background-color: ##6a768a;
  color: black;
}

.topnav a.active {
  background-color: ##6a768a;
  color: white;
}
